.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    .positive {
        width: 8px;
        background-color: var(--ion-color-success);
        border-radius: 4px;
        margin-bottom: 4px;
    }

    .negative {
        width: 8px;
        background-color: var(--ion-color-danger);
        border-radius: 4px;
    }
}

:host {
    height: 100%;
}