.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    .positive {
        width: 100%;
        height: 4px;
        background-color: var(--ion-color-success);
        border-radius: 2px;
        margin-left: 4px;
    }

    .negative {
        height: 4px;
        background-color: var(--ion-color-danger);
        border-radius: 2px;
    }
}

:host {
    width: 100%;
}