.toolbar-container {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    margin-top: 48px;
    padding: 0px 24px;
    justify-content: space-between;

    .left-button-container {
        z-index: 10;
    }

    .right-button-container {
        z-index: 10;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 5;

        .title {
            font-size: 18;
            color: #262D30;
            margin: 0;
            margin-top: 4px;

            &.light {
                color: #262D30;
            }
    
            &.dark {
                color: #fff;
            }
        }

        .subtitle {
            font-size: 14px;
            color: #C0C2D1;
            margin: 0;

            &.light {
                color: #C0C2D1;
            }
    
            &.dark {
                color: #C0C2D1;
            }
        }

        &.left {
            justify-content: left;
            text-align: left;
            position: relative;
            display: inline-flex;
        }

        &.center {
            justify-content: center;
            text-align: center;
            position: absolute;
            width: 100%;
            margin-left: -24px;
        }
    }
}