<div class="card-container">
  <div>
    <div class="row">
      <h4 class="gray">{{ card.date | date: 'dd/MM/yyyy' }}</h4>
      <div class="row">
        <h4 class="black"><span class="danger">-</span>{{ card.negative | currency }}</h4>
        <h4 class="black ml-1"><span class="success">+</span>{{ card.positive | currency }}</h4>
      </div>
    </div>
    <div class="row">
      <app-progress-bar class="progress-bar" [positive]="card.positive" [negative]="card.negative"></app-progress-bar>
    </div>
  </div>
  <div class="row">
    <div>
      <h4 class="gray">{{ card.title }}</h4>
      <h4 class="black total">{{ card.total | currency }}</h4>
    </div>
    <div class="rounded-button" (click)="onAddClick()">
      <ion-icon name="add-outline"></ion-icon>
    </div>
  </div>
</div>
