ion-header {
    height: 0px;
    display: none;
}

ion-content {
    overflow-y: hidden; 
}

.top-container {
    border-radius: 12px;
    padding-bottom: 10px;
    background-image: url('/assets/top-bg.svg');
    background-size: cover;
    // margin-top: -18px;
    padding-top: 24px;
}

.recent-transactions {
    background-color: #fff;
    margin: 24px;

    .title {
        margin: 0px;
        font-size: 14px;
    }
}

.weekly-container {
    background-color: #fff;
    padding: 0px 24px;

    .title {
        margin: 0px;
        font-size: 14px;
    }
    
    .progress-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 14px;
    
        .weekly-progress {
            width: 40px;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .label {
                font-size: 13px;
                color: #C0C2D1;
                margin-top: 4px;
            }
        }
    }
}

.tab-bar {
    background-color: #fff;
    width: 100%;
    height: 95px;
}
