.container {
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .initials {
        width: 45px;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
    }
}

.success {
    background-color: var(--ion-color-success);
}

.danger {
    background-color: var(--ion-color-danger);
}