ion-header {
    display: none;
}

.container {


    .value-input {
        width: 240px;
        height: 80px;
        background-color: #F2F2F2;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 40px;
        display: flex;
        align-items: center;
        font-size: 40px;
        padding: 0px 24px;

        &-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 35px;
        }

        input {
            border-style: none;
            color: #262D30;
            background-color: transparent;
            box-sizing: border-box; 
            width: 100%;
            text-align: center;
        }

        .positive {
            color: var(--ion-color-success);
            margin-right: 18px;
        }

        .negative {
            color: var(--ion-color-danger);
            margin-right: 18px;
        }
    }

    .buttons-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;

        .buttons {
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .label {
                font-size: 14px;
            }

            .button {
                width: 103px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;

                &.income {
                    color: #A6A6A6;

                    &.active {
                        color: #fff;
                        background-color: var(--ion-color-success);
                        box-shadow: 0px 4px 6px rgba(0, 198, 137, 0.3);
                    }
                }

                &.expense {
                    color: #A6A6A6;

                    &.active {
                        color: #fff;
                        background-color: var(--ion-color-danger);
                        box-shadow: 0px 4px 6px rgba(255, 73, 97, 0.3);
                    }
                }
            }
        }
    }

    .form {
        margin: 24px 24px;

        .form-control {
            margin-bottom: 24px;
        }
    }

    .save-button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .text {
            margin: 0;
        }
    }

    

    input:focus { 
        outline: none !important;
        border-color: #babcc0;
    }
}