ion-header {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px 24px;

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3px 0px;

        .text-container {
            .title {
                font-size: 16px;
                color: #262D30;
                margin: 0;
            }

            .subtitle {
                font-size: 14px;
                color: #C0C2D1;
                margin: 0;
            }
        }

        .button-container {
            color: #C0C2D1; 
        }
    }
}