<ion-header>
  <ion-toolbar>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty-container">
    <div class="empty-message">
      <ion-img class="empty-img" src="/assets/no-data-folder.svg"></ion-img>
      <h4 class="title">Oops! No Data</h4>
      <h4 class="subtitle">Create your new folder to start the reporting</h4>
      <div class="buttons">
        <app-circle-button color="success">
          <ion-icon name="add-outline"></ion-icon>
        </app-circle-button>
      </div>
    </div>
  </div>
</ion-content>
