<ion-header>
  <ion-toolbar>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty-container" *ngIf="categories?.length === 0">
    <div class="empty-message">
      <ion-img class="empty-img" src="/assets/no-data-folder.svg"></ion-img>
      <h4 class="title">Oops! No Data</h4>
      <h4 class="subtitle">Create your new folder to start the reporting</h4>
      <div class="buttons">
        <app-circle-button color="success">
          <ion-icon name="add-outline"></ion-icon>
        </app-circle-button>
      </div>
    </div>
  </div>
  <app-toolbar [hidden]="categories?.length === 0" title="College Savings" subtitle="Data Analytics" position="left">
    <div slot="end">
      <app-rounded-button color="success">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </app-rounded-button>
    </div>
  </app-toolbar>
  <div class="container" [hidden]="categories?.length === 0">
    <div class="chart-container">
      <div class="chart">
        <canvas baseChart chartType="doughnut" [labels]="labels" [datasets]="datasets" [options]="options" id="chart"></canvas>
      </div>
      <div class="message-container">
        <div class="message">
          <h4 class="title">This month</h4>
          <h5 class="subtitle">20 days</h5>
        </div>
      </div>
    </div>
    <div class="list-container">
      <div class="list-item" *ngFor="let category of categories">
        <div>
          <span class="list-bullet" [style.background-color]="category.color"></span>
          <h4 class="list-text">{{ category.title }}</h4>
        </div>
        <h4 class="list-text">{{ category.value | currency }}</h4>
      </div>
    </div>
    <div class="tab-bar"></div>
  </div>
</ion-content>
